body {
    background-color: #f2d6fa;
    margin: 0;
    padding: 0;
}


.nav-menu {
    display: flex;
    background-image: linear-gradient(#33154b, #f0cafa, #33154b);
    /* background-color: #33154b; #cc4def #8b38b3 */
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 5px 5px #c397d1;

}

#nav-title {
    color: #360744;
}

.nav-items a {
    color: #360744;
    font-size: larger;
    font-family: cursive;
    text-decoration: none;
    padding-right: 15px;
}

.header-container {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;

}

/* This is the header of title brand new */
#header-title {
    color: #5b5b5c;
    font-size: 42px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* This is the header of paragraph brand new */
#header-paragraph {
    color: #333333;
    font-size: 12px;

}

/* This is the header of button style */
.explore-btn {
    background-image: linear-gradient(to right, #33154b, #c397d1, #f0cafa);
    height: 50px;
    width: 150px;
    padding: 10px;
    font-size: medium;
    font-weight: 600;
    border-style: none;
    box-shadow: 2px 2px #333333;
}

/* Explore button hover added */
.explore-btn:hover {
    background-image: linear-gradient(to right, #b5b7d6, #b6bdfc, blue);

}

#header-banner {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

/* This is the main part of feature section */
.main-part {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.image-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* column-gap: 15px; */
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.text-part {
    padding-left: 2%;
}

#text-part-title {
    color: #33154b;
    font-size: 42px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* This is the main part of love section */
.love-section {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 455px;
}

/* This is the main part of love section header */
.header-title {
    font-size: 35px;
    font-weight: 700;
    color: #33154b;
    padding-left: 10px;
}

/* left border of header */
#header-border {
    border-left: 6px solid blue;
    height: 100px;
    margin-bottom: 100px;

}

/* Main part of card items */
.main-card-part {
    display: flex;
    flex-wrap: wrap;
    margin-right: 5%;
}

/* Left part card items */
.card-items {
    background-color: #f0cafa;
    padding: 5px 10px;
    margin-bottom: 10px;
    height: auto;
    width: 460px;
    border-right: 1px solid blue;
    box-shadow: 2px 2px rgb(170, 170, 170);


}

.card-image {
    height: 100%;
    width: 500px;
    margin-left: 10%;

}

#button-position {
    margin-top: -70px;
}

.exprience-btn {
    height: 100px;
    width: auto;
    font-size: xx-large;
    padding: 15px 15px;


}

/* Some facts section */
.facts-section {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.facts-main-part {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 5%;
    padding-left: 5%;

}

.facts-icon {
    padding: 5%;
    text-align: center;
    align-items: center;
    
    /* background-color: #c397d1; */
    height: 160px;
    width: 160px;
    border: 2px solid rgb(163, 15, 163);
    color: #33154b;
    font-weight: 700;
    font-size: larger;

}
/* Some fact hover */
.facts-icon:hover {
    border: 2px solid blue;
    background-color: #e9c8f3;
    box-shadow: 3px 3px #333333;
animation-duration: 30s;
    animation-name: card;

}

#number {
    font-size: x-large;
    font-weight: 700;
    color: blue;
}

@keyframes card {
    5% {
        background-color: rgb(170, 123, 200);
    }

    12% {
        background-color: rgb(235, 109, 134);
    }

    18% {
        background-color: rgb(164, 222, 135);
    }

    25% {
        background-color: rgb(243, 243, 133);
    }

    30% {
        background-color: rgb(116, 209, 235);
    }

    40% {
        background-color: #c397d1;
    }

    50% {
        background-color: rgb(149, 149, 233);
    }

    70% {
        background-color: darksalmon;
    }

    100% {
        background-color: rgb(176, 250, 176);
    }
}

.sponsors-section {
    text-align: center;
    padding-top: 5%;

}

.sponsor-img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 5%;
    background-blend-mode: hard-light;
    background-color: rgba(8, 0, 0, 0);

}

/* Booking section */
/* Header top activities section start */
.top-header {
    color: darkblue;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.top-header:hover {
    color: #33154b;
}

h3:hover {
    color: darkblue;
}

.top-activities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 35px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 50px;

}

.spots {
    border: 2px solid #2715f2;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 10px;
    box-shadow: 4px 4px #9d9e9e;

}


.ratings {
    display: flex;
    align-items: baseline;

}

.fa-solid.filled {
    font-size: 13px;
    color: goldenrod;
    margin-left: 0;
}

/* This is footer */
footer {
    height: auto;
    width: auto;
    background-color: #c397d1;
    text-align: center;
    padding: 5%;
}

/* Mobile Responsive Media Query Started */
@media screen and (max-width:576px) {
    body {
        margin-left: 0;
        margin-right: 0%;
    }

    .nav-menu {
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 5%;
    }

    .nav-items a {
        font-size: medium;
    }

    .image-part {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* column-gap: 15px; */
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }

    .main-part {

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    .love-section {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5%;
        margin-bottom: 5%;
        /* padding-left: 0%;
        padding-right: 0%;
        margin-left: 0%;
        margin-right: 0%; */

    }

    .card-image {
        height: 100%;
        width: 455px;
        margin-left: 0;
        margin-right: 0%;


    }

    #button-position {
        margin-top: -35px;
        padding-left: 25%;
        padding-bottom: 10%;
    }

    .facts-main-part {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1%;
        grid-row-gap: 2%;

    }

    .facts-section {
        margin-top: 5%;
        padding-top: 5%;
        /* padding-left: 0%;
        padding-right: 0%;
        margin-left: 0%;
        margin-right: 0%; */
    }

    .facts-icon {
        border: none;
    }

    .sponsor-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5%;
        grid-row-gap: 5%;

    }
    .spot-img{
        width: 100%;
    }
}





@media screen and (max-width:576px) {
    .top-activities {
        grid-template-columns: repeat(1, 1fr);

    }

    .spots {
        margin-bottom: 30px;
    }
}


